*,*::before,::after {   
    margin: 0;   
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;    
    list-style: none;    
    outline: none;
  }


.nav {
    display: flex;
    align-items: center;
    padding: 30px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    padding-right: 10px;
}

.nav-links {
    display: flex;
    margin-left: auto;
}

.nav-links li {
    padding: 10px;
}

.header-container {
    background-image: url(images/blog-image-hero.png);
    background-size: cover;
    width: 100%;
    height: 25vh;
    color: whitesmoke;
    max-width: 500px;
}


.container {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 40px;
}